html, body {
	min-height: 100%;
	color: #fff;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#title-box h1 { font-size: 62px; font-family: 'Lato' }
#title-box { text-align: center; }
#intro-screen { height: 2000px; position: relative; }
#intro-screen h1 { font-weight: 100; }

.slideshow-image {
	display: block;
	position: fixed;
	width: 100%;
	z-index: -100;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.silk-screen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -50;
	background-position: top left;
	background-repeat: repeat;
}
.title-box { text-align: center; color: #fff; }
.arrow {
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 60px;
	margin-left: -30px;
	text-align: center;
}
.arrow i { font-size: 44px }


.fancy-icon {
  text-align: center;
  font-size: 22px;
  line-height: 56px;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin-right: 20px;
}

.icon-row p, .icon-row span {
  height: 100%;
  line-height: 60px;
}
.icon-row .fancy-icon {
  float: left;
}


.focus {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  
  border-color: #000;
  border-radius: 5px;
}
.focus.dark {
  background-color: #313030;
  color: #fff;
}
.focus.dark b {
  color: #ff452d;
}
.block-header {
  font-family: 'Audiowide';
  text-align: center;
  margin: 0 20px 10px;
  background-color: #ff452d;
  color: #fff;
  border-radius:10px;
}
.block-emph {
  font-size: 56px;
  color: #fff;
  text-align: center;
  margin: 0 auto 10px;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: 'Dynalight';
}
.container {
  padding: 50px 15px;
}



#hire-me {
  background-color: #313030;
  color: #000;
}

#about-me {
  background-color: #fff;
}

#my-timeline {
	background-color: #2d4dff;
}
