html, body {
  min-height: 100%;
  color: #fff;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a { cursor: pointer; cursor: hand; }
a.block-header { text-decoration: none; }

#title-box h1 { font-size: 62px; font-family: 'Lato', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; }
#title-box { text-align: center; }
#intro-screen { height: 2000px; position: relative; }
#intro-screen h1 { font-weight: 100; }

.slideshow-image {
  display: block;
  position: fixed;
  width: 100%;
  z-index: -100;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.red-buff { background-image: url(assets/lol-summonersriftwip-teaser.jpg); }
.turret { background-image: url(assets/Rift_1.1_Turret.jpg); }
.shop-keeper { background-image: url(assets/Rift_1.1_Shopkeeper.jpg); }
.baron { background-image: url(assets/Rift_1.1_Baron.jpg); }
.silk-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -50;
  background-position: top left;
  background-repeat: repeat;
}
.title-box { text-align: center; color: #fff; }
.arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 60px;
  margin-left: -30px;
  text-align: center;
}
.arrow i { font-size: 44px; color: #fff; }


.fancy-icon {
  text-align: center;
  font-size: 22px;
  line-height: 56px;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin-right: 20px;
}

.icon-row {
  padding: 10px 0px;
  height: 100%;
  line-height: 60px;
  display: table;
  font-size: 16px;
}
.icon-row p {
  vertical-align: middle;
  line-height: normal;
  display: table-cell;
}
.icon-row .fancy-icon {
  float: left;
}


.focus {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 16px;
  
  border-color: #000;
  border-radius: 5px;
}
.focus.dark {
  background-color: #313030;
  color: #fff;
}
.focus.dark b {
  color: #ff452d;
}
.focus.dark b.secondary {
  color: #2195de;
}
.focus.dark b.riot {
  color: #ff1e1e;
}
.block-header {
  display: block;
  font-family: 'Audiowide';
  text-align: center;
  margin: 0 20px 10px;
  background-color: #ff452d;
  color: #fff;
  border-radius:10px;
  width: auto;
}
a.block-header:hover { color: #fff; border-style: solid; border-width: 1px; border-color: #fff; margin-top: -1px; margin-bottom: 9px; }
.block-emph {
  font-size: 56px;
  color: #fff;
  text-align: center;
  margin: 0 auto 10px;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: 'Dynalight';
}
.container {
  padding: 50px 15px;
}

/* Skills Section */
#skills {
  background: #8cbce8;
}
.skill {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto 0;
  cursor: pointer;
}
.skill span {
  line-height: normal;
  font-family: 'Lato', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  width: 60%;
  text-align: center;
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}


/* Timeline Section */
#my-timeline {
  padding: 50px 0;
  background-image: linear-gradient(#171717,#2a2a2a);
}
.year {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
  font-family: 'Lato';
  color: #dc291e;
}
.event {
  position: relative;
  padding: 20px 20px;
  margin: 20px 0px;
  border-style: solid;
  border-radius: 10px;
}
.event .company, .event .headline {
  display: block;
  font-size: 28px;
}
.event .timestamp {
  display: block;
  margin: 0px 0px 10px;
}
.event .location {
  position: absolute;
  top: 30px;
  right: 20px;
}
.event ul.technologies {
  margin: 0px;
  padding: 0px;
}
.event ul.technologies li {
  display: inline-block;
  padding: 2px 8px;
  margin: 4px 6px;
  list-style: none;
  background-color: white;
  color: black;
  border-color: #257be6;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

/* Contact Me Section */
#contact-me {
  background-color: #fff;
  padding: 20px 20px 120px;
}
#contact-me h1 {
  font-size: 52px;
  color: #333;
  text-align: center;
}
#contact-me .container {
  padding-top: 20px;
}
.photo {
  overflow: hidden;
}
.contact {
  margin: 0;
}
.contact a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin: 0 0 -1px 0;
  padding: 8px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  color: #333;
}
.contact a:hover {
  color: #333;
  background-color: #ccc;
}
.contact a i {
  color: #333;
  margin: 0 20px 0 8px;
  width: 20px;
  font-size: 18px;
}



#hire-me {
  background-color: #313030;
  color: #000;
}

#next-up {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#next-up .overlay {
  background: rgba(72, 72, 72, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
}

#heres-why {
  background-color: #cbc6c6;
}




@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotation {
  0% {
    -ms-transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -o-transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 45px;
  height: 45px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 45px;
  -webkit-animation: rotation 2s infinite linear;
     -moz-animation: rotation 2s infinite linear;
      -ms-animation: rotation 2s infinite linear;
       -o-animation: rotation 2s infinite linear;
          animation: rotation 2s infinite linear;
}